.box {
  width: 33.33;
  height: 100px;
}
.box1 {
  width: 26%;
  background-color: red;
  float: left;
}
.box2 {
  background-color: blue;
  width: 48%;
  float: left;
}
.box3 {
  width: 26%;
  background-color: green;
  float: left;
}
.box4 {
  /* height: 100px; */
  background-color: orange;
  clear: both;
}
.box5 {
  background-color: aquamarine;
  clear: both;
  height: 400px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
